extends layout

block content
  div.container(id='home-container')
    div.row
      h1(class='col-xs-4')=title
      a(
        href='/login'
        class='btn btn-default col-xs-3 col-sm-3'
        style='margin-top: 3%;'
      ) login
      a(
        href='/signup'
        class='btn btn-default col-xs-offset-1 col-sm-offset-1 col-xs-3 col-sm-3'
        style='margin-top: 3%;'
      ) sign up

    hr
    div.row
      p(class='col-sm-offset-3 col-xs-12 col-sm-6') JobTrak will help you keep track of your jobs during the application process. Begin tracking by clicking one of the options below.
    
