extends layout

block content
  div.container(id='home-container')
    div.row
      h1#title(class='col-xs-12' style='text-align: center;')=title
    hr
    div.row
      a(
        href='/login'
        class='btn btn-default col-xs-offset-3 col-sm-offset-2 col-xs-6 col-sm-8'
      ) login
    div.row
      a(
        href='/signup'
        class='btn btn-default col-xs-offset-3 col-sm-offset-2 col-xs-6 col-sm-8'
      ) sign up
