extends layout

block content
  div.container-fluid(id='home-container')
    a(href="/" style="color: var(--txt-color)!important; text-decoration: unset;")  
      div.row
        h1.mx-auto#title(class='col-xs-12' style='text-align: center;')=title
          sup(style="font-size: 20%; top: -3.15em;") beta
    hr
    div.row.justify-content-center.index-btn
      a(
        href='/login'
        class='btn btn-default col-xs-6 col-sm-8'
      ) Login
    div.row.justify-content-center.index-btn
      a(
        href='/signup'
        class='btn btn-default col-xs-6 col-sm-8'
      ) Sign Up
    footer.index-footer
      p &copy; 2018
