extends layout


block content
  include userscripts.pug
  include navigationbar.pug
  script(src='/scripts/activetab.js')
  div.box-cont.container-fluid#interviews
    div.row
      h3.txt-white.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Interviewing jobs: " + interviewingsum)
    if user.interviewingjobs == undefined
      label error retrieving jobs
    else
      each item, index in user.interviewingjobs
        if item == null
          div.row.job-box
            h5.col-12 Job item is null
        else
          div.row.job-box
            h5.col-7()
              a(href=item.website style="padding-left: 0;")=item.company
              small(style="font-size: 60%;")
                a#commentlink(onclick='comments_click(' + index + ')' style="padding-left: 0;")=" comments"
            h5.col-5(style='margin-bottom: 0; text-align: end; padding-right: 0;')=item.date
            h5.col-6.col-md-7()=item.jobtitle
            div.col-6.col-md-5#job-buttondiv(style="padding: 0!important;")
              form(action="/move?interreject="+index method="POST" style="float: right;")
                button.btn.btn-danger.reject(
                  type='submit'
                  aria-hidden="true"
                  style="margin-right: 0;"
                ) rejected
              button.btn.btn-danger.rmv(
                style="float: right; margin-right: 0.5rem;"
                onclick="showRemoveOptions(" + 3 + ", " + index + ")"
              ) remove
            div.hide(id="doubleCheck" + index 
                style="width: 100%; text-align: right; padding: 0; margin-top: 0.25rem;")
              h7(style="margin: 0.25rem;") Are you sure?
              button#yes.btn.btn-success(
                style="margin-left: 0.25rem;"
                onclick="removeJob(" + 3 + ", " + index + ")"
              ) Yes
              button#no.btn(
                style="margin-left: 0.25rem;"
                onclick="showRemoveOptions(" + 3 + ", " + index + ")"
              ) No
            div.comment-area.hide(id='comment'+index style='padding: 0!important;')
              h8=item.comments            
            div.container-fluid.hide(id='interviewsDiv-' +index style="padding-top: 1%;")
              each interview, interviewIndex in item.interviews
                div.row.interview-box()
                  h5.col-1.col-sm-1=(interviewIndex+1)
                  h5.col-5.col-sm-5()=interview.interviewDate
                  h5.col-5.col-sm-6(style='text-align: end;')=interview.interviewer
              div.row.interview-box.interview-box-input()
                input#interviewDate.form-control.col-xs-12.col-sm-3(
                  type='date'
                  name='interviewDate'
                )
                input#interviewer.form-control.col-xs-12.offset-sm-1.col-sm-6(
                  type='plaintext'
                  placeholder='interviewer'
                )
                button#addInterviewButton.btn.btn-success.offset-sm-1.col-sm-1(
                  onclick='addInterviewClick(' + index + ')'
                ) add  
            a.fa.fa-caret-down.interview-caret.col-12(
              id='interviews-' +index
              onclick='interviewsClick(' + index + ')'
              style='padding: 0; margin-top: 0.25rem; font-size: 150%; text-align: center;'
            )=''
