extends layout


block content
  include userscripts.pug
  include navigationbar.pug
  script(src='/scripts/activetab.js')
  div.box-cont.container-fluid#interviews
    div.row
      h3.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Interviewing jobs: " + interviewingsum)
    div.row.label-header
      p.col-1.head(style="margin-bottom: 0;") Index
      p.col-2.head(style="margin-bottom: 0; text-align: end;") Date
      p.col-3.head(style="margin-bottom: 0;") Company (link)
      
    if user.interviewingjobs == undefined
      label error retrieving jobsnd
    else
      each item, index in user.interviewingjobs
        div.row.job-box
          p.col-2.col-sm-2.col-md-1(type="text" name="index" style="font-size: 165%; padding-top: 0.35rem; margin-bottom: 0;")=(index+1)
          h5.offset-6.col-4.col-sm-4.offset-md-0.col-md-2(style='padding-top: 0.35rem; margin-bottom: 0; text-align: end;')=item.date
          h4.col-6.col-sm-3.col-md-3(style="padding-left: 0;")
            if item.company == undefined
              a.btn(href=item.website)=item.hostname
            else
              a.btn(href=item.website)=item.company
          h4.col-6.col-sm-3.col-md-2(style="text-align: end;")
            a.btn(id='commentlink' onclick='comments_click(' + index + ')') comments
          div.d-flex.p-2.col-12.col-sm-6.col-md-4.justify-content-center
            form(action="/move?inter="+index method="POST")
              button.btn.btn-danger.reject(
                type='submit'
                aria-hidden="true"
                style="float: left; padding-left: 5px; padding-right: 5px;"
              ) rejected
            form(action="/remove?inter="+index method="POST")
              input.btn.btn-danger.rmv(
                type='submit'
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )
          div.comment-area.hide(id='comment'+index style='padding: 0!important;')
            h8=item.comments            
        a.btn.fa.fa-caret-right(
          id='interviews-' +index
          onclick='interviewsClick(' + index + ')'
          style='padding: 0;'
        )=' Interviews'
        div.container-fluid.hide(id='interviewsDiv-' +index)
          each interview, interviewIndex in item.interviews
            div.row.interview-box()
              h5.col-1.col-sm-1=(interviewIndex+1)
              h5.col-5.col-sm-5()=interview.interviewDate
              h5.col-5.col-sm-6(style='text-align: end;')=interview.interviewer
          div.row.interview-box()
            input#interviewDate.form-control.col-xs-12.col-sm-3(
              type='date'
              name='interviewDate'
            )
            input#interviewer.form-control.col-xs-12.offset-sm-1.col-sm-6(
              type='plaintext'
              placeholder='interviewer'
            )
            button#addInterviewButton.btn.btn-success.offset-sm-1.col-sm-1(
              onclick='addInterviewClick(' + index + ')'
            ) add
            
