extends layout

block content
  form(method='POST')
    div.container-fluid
      div.row
        h1.mx-auto#title(class='col-xs-12' style="text-align: center;") jobtrakr
      hr
      if message.length > 0
        div.row(class='alert alert-danger')=message
      div.row
        label(for="username" class='offset-sm-3 col-xs-4 col-sm-2 col-md-2 col-lg-2') username:
        input.form-control(
          type="plaintext"
          placeholder="username"
          name='username'
          class='text-field col-xs-6 col-sm-4 col-md-4 col-lg-4'
        )
      div.row
        label(for="password" class='offset-sm-3 col-xs-4 col-sm-2 col-md-2 col-lg-2') password:
        input.form-control(
          type="password"
          placeholder="password"
          name='password'
          class='text-field col-xs-6 col-sm-4 col-md-4 col-lg-4'
        )
      div.row(style='margin-top:10px;')
        input(
          class='btn btn-default offset-xs-3 offset-sm-3 col-xs-6 col-sm-6'
          type='submit'
          value='sign in'
          name='signinButton'
          formaction='/login'
          id='sign-in'
        )
      div.row
        input(
          class='btn btn-default offset-xs-3 offset-sm-3 col-xs-6 col-sm-6'
          type='submit'
          value='sign up'
          name='signupButton'
          formaction='/signup'
        )
