extends layout

block content
  form(method='POST')
    div.container-fluid
      div.row
        h1.mx-auto#title(class='col-xs-12' style="text-align: center;") jobtrakr
      hr
      if message.length > 0
        div.row(class='alert alert-danger')=message
      div.row.justify-content-center
        input.form-control(
          type="plaintext"
          placeholder="username"
          name='username'
          class='text-field col-xs-12 col-sm-7'
        )
      div.row.justify-content-center
        input.form-control(
          type="password"
          placeholder="password"
          name='password'
          class='text-field col-xs-12 col-sm-7'
        )
      div.row.justify-content-center(style='margin-top:10px;')
        input(
          class='btn btn-default col-xs-12 col-sm-7'
          type='submit'
          value='sign in'
          name='signinButton'
          formaction='/login'
          id='sign-in'
        )
      div.row.justify-content-center
        input(
          class='btn btn-default col-xs-12 col-sm-7'
          type='submit'
          value='sign up'
          name='signupButton'
          formaction='/signup'
        )
