extends layout

block content
  script(src='/scripts/form_submit.js')
  form(id="login_form" method='POST' action="/login")
    div.container-fluid
      a(href="/" style="color: var(--txt-color)!important; text-decoration: unset;")    
        div.row
          h1.mx-auto.txt-white#title(class='col-xs-12' style="text-align: center;")="Jobtrakr"
            sup.txt-white(style="font-size: 20%; top: -3.15em;") beta
      hr(style="border-color: var(--bck-color);")
      if message.length > 0
        div.row.justify-content-center
          p.col-xs-12.col-sm-7.alert.alert-danger(style="margin-bottom: 0;")=message
      else if messageSuccess
        div.row.justify-content-center
          p.col-xs-12.col-sm-7.alert.alert-success(style="margin-bottom: 0;")=messageSuccess
      if email
        div.row.justify-content-center
          input.text-field.col-xs-12.col-sm-7.form-control(
            type="plaintext"
            placeholder="E-mail"
            name='email'
            value=email
          )
      else
        div.row.justify-content-center
          input.text-field.col-xs-12.col-sm-7.form-control(
            type="plaintext"
            placeholder="E-mail"
            name='email'
          )
      div.row.justify-content-center
        input.form-control(
          type="password"
          placeholder="Password"
          name='password'
          class='text-field col-xs-12 col-sm-7'
        )
      div.row.justify-content-center
        a.txt-white.col-xs-12.col-sm-7(style='font-size: 90%; padding-left: 0.25rem;' href='/forgot') Forgot Password?
      div.row.justify-content-center(style='margin-top:10px;')
        a#login_submit.btn.btn-sm.animated-button.green.col-xs-12.col-sm-7(
          href="javascript:{}"
          onclick="document.getElementById('login_form').submit();") Sign In
      div.row.justify-content-center()
        a.btn.btn-sm.animated-button.green.col-xs-12.col-sm-7(href="/signup") Sign Up
