extends layout

block content
  form(method='POST')
    div.container-fluid
      a(href="/" style="color: var(--txt-color)!important; text-decoration: unset;")    
        div.row
          h1.mx-auto.txt-white#title(class='col-xs-12' style="text-align: center;")=title
            sup.txt-white(style="font-size: 20%; top: -3.15em;") beta
      hr(style="border-color: var(--bck-color);")
      if message.length > 0
        div.row.justify-content-center
          p.col-xs-12.col-sm-7.alert.alert-danger(style="margin-bottom: 0;")=message
      else if messageSuccess
        div.row.justify-content-center
          p.col-xs-12.col-sm-7.alert.alert-success(style="margin-bottom: 0;")=messageSuccess
      if email
        div.row.justify-content-center
          input.text-field.col-xs-12.col-sm-7.form-control(
            type="plaintext"
            placeholder="E-mail"
            name='email'
            value=email
          )
      else
        div.row.justify-content-center
          input.text-field.col-xs-12.col-sm-7.form-control(
            type="plaintext"
            placeholder="E-mail"
            name='email'
          )
      div.row.justify-content-center
        input.form-control(
          type="password"
          placeholder="Password"
          name='password'
          class='text-field col-xs-12 col-sm-7'
        )
      div.row.justify-content-center
        a.txt-white.col-xs-12.col-sm-7(style='font-size: 90%; padding-left: 0.25rem;' href='/forgot') Forgot Password?
      div.row.justify-content-center(style='margin-top:10px;')
        input.btn.btn-default.col-xs-12.col-sm-7(
          type='submit'
          value='Sign In'
          name='signinButton'
          formaction='/login'
          id='sign-in'
        )
      div.row.justify-content-center()
        a.btn.btn-default.col-xs-12.col-sm-7(href="/signup") Sign Up
