nav.navbar.navbar-dark.navbar-expand-md.fixed-top(style="border-bottom: 1px solid var(--bck-color);")
  a(href="/profile")  
    h1.navbar-brand=user.firstname
      sup.badge.badge-success(style="font-size: 30%; top: -2em;")=(appliedsum + interviewingsum + rejectedsum)
  button.navbar-toggler(data-toggle='collapse'
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link#prospectiveNavLink(href='/prospective'
          style="font-size: 1rem;")=" Prospective "
          span.badge.badge-secondary(style="font-style: normal;")=prospectivesum
      li.nav-item
        a.nav-link#appliedNavLink(href='/applied'
          style="font-size: 1rem;")=" Applied "
          span.badge.badge-secondary(style="font-style: normal;")=appliedsum
      li.nav-item
        a.nav-link#interviewsNavLink(href='/interviews'
          style="font-size: 1rem;")=" Interviewing "
          span.badge.badge-secondary(style="font-style: normal;")=interviewingsum
      li.nav-item
        a.nav-link#rejectedNavLink(href='/rejected'
          style="font-size: 1rem;")=" Rejected "
          span.badge.badge-secondary(style="font-style: normal;")=rejectedsum
    form.form-inline.my-2.my-lg-0(method='GET')
      input.btn.remove.mr-sm-2(
        value='Logout'
        type='submit'
        formaction='/logout'
        style='margin-top: 1%; margin-right: 0!important; float: right;'
      )
br
