nav.navbar.navbar-dark.bg-dark.navbar-expand-md.fixed-top
  a(href="/profile")  
    h1.navbar-brand=user.firstname
  button.navbar-toggler(data-toggle='collapse'
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/prospective'
          style="font-size: 1rem") Prospective
      li.nav-item
        a.nav-link(href='/applied'
          style="font-size: 1rem") Applied
      li.nav-item
        a.nav-link(href='/interviews'
          style="font-size: 1rem") Interviewing
      li.nav-item
        a.nav-link(href='/rejected'
          style="font-size: 1rem") Rejected
    form.form-inline.my-2.my-lg-0(method='GET')
      input.form-control.mr-sm-2(
        class='btn btn-danger'
        value='Logout'
        type='submit'
        formaction='/logout'
        style='margin-top: 1%; float: right;'
      )
br
