extends layout


block content
  script(async, src="/scripts/user.js")
  script(src='/scripts/activetab.js')
  include navigationbar.pug
  div.box-cont.container-fluid#prospective
    div.row
      h3.txt-white.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Prospective jobs: " + prospectivesum)
      a.btn.btn-sm.animated-button.green.col-xs-6.offset-sm-2.col-sm-4.offset-md-2.col-md-4(
        id="addJobBtn"
        onclick="addprospect_click()"
        href="javascript:{}"
      ) Add Prospect
    div.row.hide#addprospectarea
      div.container
        div#messageAlert.row.justify-content-center(style="display: none;")
          label.col-xs-12.col-sm-7.alert.alert-danger(style="margin-bottom: 0;") Job already exists.
        div#urlMessageAlert.row.justify-content-center(style="display: none;")
          label.col-xs-12.col-sm-7.alert.alert-danger(style="margin-bottom: 0;") Invalid link.
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="pcompanyTextField"
            type="plaintext"
            placeholder="Company"
          )
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="ptitleTextField"
            type="plaintext"
            placeholder="Job Title"
          )
        div.row.justify-content-center      
          input.col-xs-12.col-sm-7.form-control(
            id="plinkTextField"
            type="plaintext"
            placeholder="Job Link"
          )
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="pjobCommentField"
            type="plaintext"
            placeholder="Comments"
          )
        div.row.justify-content-center
          a.btn.btn.sub-green.col-12.col-sm-7(
            href="javascript:{}"
            id="psubmitJobBtn"
            onclick="addJob()"
          ) Submit

    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.prospectjobs
        div.row(class="job-box" id="jobBox" + index)
          h5.col-7()
            a#companylink(href=item.website style="padding-left: 0;")=item.company + " "
              i.fas.fa-external-link-square-alt(style="font-size: 60%;")
            if item.comments
              small(style="font-size: 60%; padding-left: 1%;")
                a#commentlink.badge.badge-warning(onclick='prospectcomments_click(' + index + ')' style="padding: 2px;")="comments"
            else
          h5.col-5(style='margin-bottom: 0; text-align: end; padding-right: 0;')=item.date
          h5.col-6.col-md-7()=item.jobtitle
          div.col-6.col-md-5#job-buttondiv(style="padding: 0!important;")
            form(action="/move?prospect="+index method="POST" style="float: right;")
              button.btn.sub-green(
                type='submit'
                aria-hidden="true"
                style="margin-right: 0;"
              ) Applied
            a.btn.remove(
              style="float: right; margin-right: 0.5rem;"
              onclick="showRemoveOptions(" + 1 + ", " + index + ")"
              href="javascript:{}"
            ) Remove
          div.hide(id="doubleCheck" + index 
              style="width: 100%; text-align: right; padding: 0; margin-top: 0.25rem;")
            h7(style="margin: 0.25rem;") Are you sure?
            button.btn.sub-green(
              id="yes" + index
              style="margin-left: 0.25rem;"
              onclick="removeJob(" + 1 + ", " + index + ")"
            ) Yes
            button#no.btn.remove(
              style="margin-left: 0.25rem;"
              onclick="showRemoveOptions(" + 1 + ", " + index + ")"
            ) No
          div.comment-area.hide(id='prospectcomment'+index style='padding: 0!important;')
            h8=item.comments
