extends layout


block content
  include userscripts.pug
  include navigationbar.pug
  script(src='/scripts/activetab.js')
  div.box-cont.container-fluid#prospective
    div.row
      h3.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Prospective jobs: " + prospectivesum)
      button.btn.btn-default.col-xs-6.offset-sm-2.col-sm-4.offset-md-2.col-md-4(
        id="addJobBtn"
        onclick="addprospect_click()"
      ) add a prospect
    div.row.label-header
      p.col-1.head(style="margin-bottom: 0;") Index
      p.col-2.head(style="margin-bottom: 0; text-align: end;") Date
      p.col-3.head(style="margin-bottom: 0;") Company (link)
      
    div.row.hide#addprospectarea
      div.container
        div.alert.alert-danger.row(id='messageAlert' style="display: none; font: 13px arial, sans-serif;")
          label.col-xs-12 job already exists.
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="pcompanyTextField"
            type="plaintext"
            placeholder="company"
          )
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="ptitleTextField"
            type="plaintext"
            placeholder="job title"
          )
        div.row.justify-content-center      
          input.col-xs-12.col-sm-7.form-control(
            id="plinkTextField"
            type="plaintext"
            placeholder="link"
          )
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="pjobCommentField"
            type="plaintext"
            placeholder="comments or identifiers"
          )
        div.row.justify-content-center
          button.btn.btn-success.col-12.col-sm-7.submit-btn(
            id="psubmitJobBtn"
            onclick="addJob()"
          ) submit

    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.prospectjobs
        div.row(class="job-box")
          p.col-6.col-sm-2.col-md-1(type="text" name="index" style="font-size: 165%; padding-top: 0.35rem; margin-bottom: 0;")=(index+1)
          h5.col-6.col-sm-4.col-md-2(style='padding-top: 0.35rem; margin-bottom: 0; text-align: end;')=item.date
          h4.col-12.col-sm-3.col-md-3()
            a.btn(href=item.website style="padding-left: 0;")=item.company
          h4.col-12.col-sm-3.col-md-2()
            a.btn#commentlink(onclick='prospectcomments_click(' + index + ')' style="padding-left: 0;") comments
          div.d-flex.p-2.col-12.col-sm-12.col-md-4.justify-content-center#job-buttondiv
            form(action="/move?prospect="+index method="POST")
              button.btn.btn-success.move(
                type='submit'
                aria-hidden="true"
                style="float: left; padding-left: 5px; padding-right: 5px;"
              ) applied
            form(action="/remove?prospect="+index method="POST")
              input.btn.btn-danger.rmv(
                type='submit'
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )
          div.comment-area.hide(id='prospectcomment'+index style='padding: 0!important;')
            h8=item.comments
