extends layout


block content
  include userscripts.pug
  include navigationbar.pug
  script(src='/scripts/activetab.js')
  div.box-cont.container-fluid#prospective
    div.row
      h3.txt-white.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Prospective jobs: " + prospectivesum)
      button.btn.btn-default.col-xs-6.offset-sm-2.col-sm-4.offset-md-2.col-md-4(
        id="addJobBtn"
        onclick="addprospect_click()"
      ) add a prospect
    div.row.hide#addprospectarea
      div.container
        div.alert.alert-danger.row(id='messageAlert' style="display: none; font: 13px arial, sans-serif;")
          label.col-xs-12 job already exists.
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="pcompanyTextField"
            type="plaintext"
            placeholder="company"
          )
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="ptitleTextField"
            type="plaintext"
            placeholder="job title"
          )
        div.row.justify-content-center      
          input.col-xs-12.col-sm-7.form-control(
            id="plinkTextField"
            type="plaintext"
            placeholder="link"
          )
        div.row.justify-content-center
          input.col-xs-12.col-sm-7.form-control(
            id="pjobCommentField"
            type="plaintext"
            placeholder="comments or identifiers"
          )
        div.row.justify-content-center
          button.btn.btn-success.col-12.col-sm-7.submit-btn(
            id="psubmitJobBtn"
            onclick="addJob()"
          ) submit

    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.prospectjobs
        div.row(class="job-box")
          h5.col-7()
            a(href=item.website style="padding-left: 0;")=item.company
            small(style="font-size: 60%;")
              a#commentlink(onclick='prospectcomments_click(' + index + ')' style="padding-left: 0;")=" comments"
          h5.col-5(style='margin-bottom: 0; text-align: end; padding-right: 0;')=item.date
          h5.col-6.col-md-7()=item.jobtitle
          div.col-6.col-md-5#job-buttondiv(style="padding: 0!important;")
            form(action="/move?prospect="+index method="POST" style="float: right;")
              button.btn.btn-success.move(
                type='submit'
                aria-hidden="true"
                style="margin-right: 0;"
              ) applied
            form(action="/remove?prospect="+index method="POST" style="float: right;")
              input.btn.btn-danger.rmv(
                type='submit'
                aria-hidden="true"
                value="remove"
              )
          div.comment-area.hide(id='prospectcomment'+index style='padding: 0!important;')
            h8=item.comments
