extends layout

block content
  script(async, src="/scripts/user.min.js")
  script(src='/scripts/activetab.js')
  include navigationbar.pug
  div.box-cont.container-fluid#reject-box
    div.row
      h3.txt-white.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Rejected jobs: " + rejectedsum)
    if user.rejectjobs == undefined
      label error retrieving jobs
    else
      each item, index in user.rejectjobs
        div.job-box.reject-box.row(id="jobBox" + index)
          h5.col-7()
            a#companylink(href=item.website style="padding-left: 0;")=item.company + " "
              i.fas.fa-external-link-square-alt(style="font-size: 60%;")
            if item.comments
              small(style="font-size: 60%; padding-left: 1%;")
                a#commentlink.badge.badge-warning(onclick='rejectcomments_click(' + index + ')' style="padding: 2px;")=" comments"
            else
          h5.col-5(
            style='margin-bottom: 0; text-align: end; padding-right: 0;')=item.date
          h5.col-6.col-md-5()=item.jobtitle
          div.col-6.col-md-7#job-buttondiv(style="padding: 0!important;")
            button.btn.remove(
              style="float: right; margin-right: 0!important;"
              onclick="showRemoveOptions(" + 4 + ", " + index + ")"
            ) Remove
          div.hide(id="doubleCheck" + index 
              style="width: 100%; text-align: right; padding: 0; margin-top: 0.25rem;")
            h7(style="margin: 0.25rem;") Are you sure?
            button#yes.btn.sub-green(
              style="margin-left: 0.25rem;"
              onclick="removeJob(" + 4 + ", " + index + ")"
            ) Yes
            button#no.btn.remove(
              style="margin-left: 0.25rem;"
              onclick="showRemoveOptions(" + 4 + ", " + index + ")"
            ) No
          div.comment-area.hide(id='rejectcomment'+index style='padding: 0!important;')
            h8=item.comments
          div.container-fluid.hide.interview-container(id='interviewsDiv-' +index)
            each interview, interviewIndex in item.interviews
              div.row.interview-box()
                h5.col-1.col-sm-1=(interviewIndex+1)
                h5.col-5.col-sm-5()=interview.interviewDate
                h5.col-5.col-sm-6(style='text-align: end;')=interview.interviewer
          a.fas.fa-caret-down.interview-caret.col-12(
            id='interviews-' +index
            onclick='interviewsClick(' + index + ')'
            style='padding: 0; margin-top: 0.25rem; font-size: 150%; text-align: center; cursor: pointer;'
          )=''
