extends layout

block content
  include userscripts.pug
  include navigationbar.pug
  script(src='/scripts/activetab.js')
  div.box-cont.container-fluid#reject-box
    div.row
      h3.col-xs-12.col-sm-6.col-md-6(style='margin-top:2px;')=("Rejected jobs: " + rejectedsum)
    if user.rejectjobs == undefined
      label error retrieving jobs
    else
      each item, index in user.rejectjobs
        div.job-box.reject-box.row
          h5.col-7()
            a(href=item.website style="padding-left: 0;")=item.company
            small(style="font-size: 60%;")
              a#commentlink(onclick='rejectcomments_click(' + index + ')' style="padding-left: 0;")=" comments"
          h5.col-5(
            style='margin-bottom: 0; text-align: end; padding-right: 0;')=item.date
          h5.col-6.col-md-5()=item.jobtitle
          div.col-6.col-md-7#job-buttondiv(style="padding: 0!important;")
            form(action="/remove?reject="+index method="POST" style="float: right;")
              input.btn.btn-danger.rmv(
                type='submit'
                aria-hidden="true"
                value="remove"
                style="margin-right: 0;"
              )
          div.comment-area.hide(id='rejectcomment'+index style='padding: 0!important;')
            h8=item.comments
