extends layout

block content
  form(method='POST')
    div.container-fluid
        div.row
          h1#title(class='col' style='text-align: center;') sign up
        hr
        if message.length > 0
          div.row(class='alert alert-danger')=message
        div.row.justify-content-center
          input.form-control(
            type="plaintext"
            placeholder="username"
            class='text-field col-xs-12 col-sm-7'
            name="username"
          )
        div.row.justify-content-center
          input.form-control(
            type="password"
            placeholder="enter password"
            class='text-field col-xs-12 col-sm-7'
            name="password"
          )
        div.row.justify-content-center
          input.form-control(
            type="password"
            placeholder="confirm password"
            class='text-field col-xs-12 col-sm-7'
          )
        div.row.justify-content-center(style='margin-top:10px;')
          input(
            type='submit'
            class='btn btn-default col-xs-12 col-sm-7'
            name='newsignup'
            formaction='/signup'
            value='submit'
          )
