script(async,
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous")
script(async,
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous")

link(rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous")    


form(action="/remove?prospect="+index method="POST" style="float: right;")
  input.btn.btn-danger.rmv(
    type='submit'
    aria-hidden="true"
    value="remove"
  )


  form(action="/remove?index="+index method="POST" style="float: right;")
    input.btn.btn-danger.rmv(
      type='submit'
      aria-hidden="true"
      value="remove"
      style="margin-right: 0.5rem;"
    )
    
    
    form(action="/remove?inter="+index method="POST" style="float: right;")
      input.btn.btn-danger.rmv(
        type='submit'
        aria-hidden="true"
        value="remove"
        style=""
      )
      
      form(action="/remove?reject="+index method="POST" style="float: right;")
        input.btn.btn-danger.rmv(
          type='submit'
          aria-hidden="true"
          value="remove"
          style="margin-right: 0!important;"
        )
        
        
        div#home-container.container-fluid
          div.row
            div.col-12.col-sm-7.col-md-6.container-fluid
              a(href="/" style="color: var(--txt-color)!important; text-decoration: unset;")  
                div.row
                  h1#title.mx-auto.txt-white.col-xs-12(style='text-align: center;')=title
                    sup(style="font-size: 20%; top: -3.15em;") beta
              p.txt-white(style="text-align: center;") Jobtrakr allows job searchers to organize their applications in an intuitive way to make the search process easier. 
            div.col-12.col-sm-5.col-md-6.container-fluid(style="margin-top: 2%;")
              div.row.justify-content-center.index-btn
                a#loginButton.btn.btn.default.col-6.col-sm-8(
                  href='/login'
                ) Login
              div.row.justify-content-center.index-btn
                a#signupButton.btn.btn-default.col-6.col-sm-8(
                  href='/signup'
                ) Sign Up
          hr(style="border-color: var(--bck-color);")
            
            
            
            
            div#carousel.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li(data-target="#carousel" data-slide-to="0" class="active")
                li(data-target="#carousel" data-slide-to="1")
                li(data-target="#carousel" data-slide-to="2")
                li(data-target="#carousel" data-slide-to="3")
              div.carousel-inner(style="height: 325px;")
                div.carousel-item.active
                  img.resize.d-block(src="/images/prospective.png" alt="First slide" style="height: auto; width: auto; max-width: 100%;")
                div.carousel-item
                  img.resize.d-block(src="/images/applied.png" alt="Second slide" style="height: auto; width: auto; max-width: 100%")
                div.carousel-item
                  img.resize.d-block(src="/images/interviewing.png" alt="Third slide" style="height: auto; width: auto; max-width: 100%")
                div.carousel-item
                  img.resize.d-block(src="/images/rejected.png" alt="Fourth slide" style="height: auto; width: auto; max-width: 100%")
              a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
              a.carousel-control-next(href="#carousel" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
            
            
            
            
                div.txt-white.alert(style='margin-top: 0.5rem; border: solid 1px #FFFFFF; background-color: #6F8695;')
                  h3=("Prospective jobs: " + (prospectivesum))
                div.alert(style="border: solid 1px #FFFFFF")
                  h3.txt-white=("Total applied: " + (appliedsum + interviewingsum + rejectedsum))
                  div.alert(style="border: solid 1px #FFFFFF; background-color: #360;")
                    h3.txt-white=("Applied jobs: " + (appliedsum))
                  div.alert(style="border: solid 1px #FFFFFF; background-color: #F4AC32;")
                    h3.txt-white=("Jobs interviewing: " + (interviewingsum))
                    h5.txt-white=("Total interviews: " + (totalinterviews))
                  div.alert(style="border: solid 1px #FFFFFF; background-color: #8D0801;")
                    h3.txt-white=("Rejected jobs: " + (rejectedsum))
