extends layout

block content
  script(async, src="/scripts/user.js")
  include navigationbar.pug
  div.box-cont.container-fluid.show#home
    div.row
      div.col-12.col-sm-3.alert(style='border: solid 1px #FFFFFF; background-color: #6F8695;')
        h6.txt-white=("Prospective jobs: " + (prospectivesum))  
      div.col-12.col-sm-3.alert(style="border: solid 1px #FFFFFF; background-color: #360;")
        h6.txt-white=("Applied jobs: " + (appliedsum))
      div.col-12.col-sm-3.alert(style="border: solid 1px #FFFFFF; background-color: #F4AC32;")
        h6.txt-white=("Jobs interviewing: " + (interviewingsum))
      div.col-12.col-sm-3.alert(style="border: solid 1px #FFFFFF; background-color: #8D0801;")
        h6.txt-white=("Rejected jobs: " + (rejectedsum))
    div.row
      h2.txt-white Apply for more below!
    div.row.txt-white()#ghjobs
      p.strong.col-6(style="text-align: left;") Recommended Jobs
      a.col-6.fab.fa-github-square(href="https://jobs.github.com/api" style="text-align: right;")=" Powered by GitHub Jobs API"
      each item in githubarray
        div.col-12.col-sm-6.col-md-3(style="border: solid 1px #FFFFFF;")
          small=item.created_at
          h5=item.company
          small=" " + item.location
          br
          h7=item.title
          br
          a(href=item.url style="font-size: 80%;") Job Link
