extends layout


block content
  include modal.pug
  div.container#header(style='margin-bottom:10px;')
    div.row
      h1(class='col-xs-9 col-sm-6' style='margin-top:0px;')='hello '+user.local.username
      form(method='GET')
        input(
          class='btn btn-danger col-sm-offset-4 col-md-offset-5 col-xs-3 col-sm-2 col-md-1'
          value='logout'
          type='submit'
          formaction='/logout'
          style='margin-top: 1%;'
        )
  hr
  
  div.row(id='popupModal' class='modal')
    div.modal-content.container
      div.row
        h3(class="col-xs-4" style="float: left; margin: 0px;") add job
        span(id="modalCloseSpan" class="close col-xs-offset-7 col-xs-1" onclick="modalclose_click()") x
      div.row(id='messageAlert' class='alert alert-danger' style="display: none; font: 13px arial, sans-serif;")
        label.col-xs-12 job already exists.
      div.container
        div.row
          label.col-xs-4.col-sm-2 job link:
          input(
            id="linkTextField"
            type="plaintext"
            placeholder="link"
            class="col-xs-8 col-sm-7"
          )
        div.row
          label.col-xs-4.col-sm-2 comments:
          input(
            id="jobCommentField"
            type="plaintext"
            placeholder="comments or identifiers"
            class="col-xs-8 col-sm-7"
          )
        div.row
          button(
            id="submitJobBtn"
            class="btn btn-success col-xs-offset-4 col-xs-3 col-sm-2"
            onclick="addJob()"
          ) submit
        h5(id='prospect-header' style='display: none;')

  

  div.box-cont.container
    div.row
      h3(class='col-xs-4' style='margin-top:2px;')=("jobs applied: " + appliedsum)   
      label(class='box-info col-xs-4') click the down mark to move to rejected 
        i(class='fa fa-chevron-circle-down' aria-hidden="true")
      button(
        class='btn btn-default col-xs-4'
        id="addJobBtn"
        onclick="addjob_click(1)"
      ) add a job
      
    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.jobs
        div.row(class="job-box")
          label(class="col-xs-1 col-sm-1" type="text" name="index")=(index+1)
          label(class="col-xs-8 col-sm-4")=item.hostname
          a(id='commentlink' class="col-xs-3 col-sm-2" onclick='comments_click(' + index + ')'
            style='padding-left: 0px;'
          ) comments
          div.row(id='commentPopupModal'+index class='modal')
            div.modal-content.container
              div.row
                h3(style="float: left; margin: 0px;") comments
                span(id="modalCloseSpan" class="close" onclick='comments_modalclose_click(' + index + ')') x
              div.row
                label(id="modalCommentLabel" class='col-xs-10')=item.comments
          a(class="col-xs-1 col-sm-1" href=item.website style='padding-left: 0px;') link
          label(class="col-xs-8 col-sm-1")=item.date
          div.job-btn-grp(class="col-xs-offset-1 col-sm-2")
            form(action="/move?reject="+index method="POST")
              button(
                type='submit'
                class="btn btn-success reject"
                aria-hidden="true"
                style="float: left; padding-left: 5px; padding-right: 5px;"
              )
                i(class='fa fa-chevron-circle-down' aria-hidden="true")
            form(action="/remove?prospect="+index method="POST")
              input(
                type='submit'
                class="btn btn-danger rmv"
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )

  div.box-cont.container
    div.row
      h3(class='col-xs-4' style='margin-top:2px;')=("prospective jobs: " + prospectivesum)
      label(class='box-info col-xs-4') click the check mark to move to applied 
        i(class='fa fa-check' aria-hidden="true")
      button(
        class='btn btn-default col-xs-4'
        id="addJobBtn"
        onclick="addjob_click(2)"
      ) add a prospect
    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.prospectjobs
        div.row(class="job-box")
          label(class="col-xs-1 col-sm-1" type="text" name="index")=(index+1)
          label(class="col-xs-8 col-sm-4")=item.hostname
          a(id='commentlink' class="col-xs-3 col-sm-2" onclick='comments_click(' + index + ')'
            style='padding-left: 0px;'
          ) comments
          div.row(id='commentPopupModal'+index class='modal')
            div.modal-content.container
              div.row
                h3(style="float: left; margin: 0px;") comments
                span(id="modalCloseSpan" class="close" onclick='comments_modalclose_click(' + index + ')') x
              div.row
                label(id="modalCommentLabel" class='col-xs-10')=item.comments
          a(class="col-xs-1 col-sm-1" href=item.website style='padding-left: 0px;') link
          label(class="col-xs-8 col-sm-1")=item.date
          div.job-btn-grp(class="col-xs-offset-1 col-sm-2")
            form(action="/move?prospect="+index method="POST")
              button(
                type='submit'
                class="btn btn-success move"
                aria-hidden="true"
                style="float: left; padding-left: 5px; padding-right: 5px;"
              )
                i(class='fa fa-check' aria-hidden="true")
            form(action="/remove?prospect="+index method="POST")
              input(
                type='submit'
                class="btn btn-danger rmv"
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )

  div.box-cont.container#reject-box
    div.row
      h3(class='col-xs-8' style='margin-top:2px;')=("rejected jobs: " + rejectedsum)
    if user.rejectjobs == undefined
      label error retrieving jobs
    else
      each item, index in user.rejectjobs
        div.row(class="job-box reject-box")
          label(class="col-xs-1 col-sm-1" type="text" name="index")=(index+1)
          label(class="col-xs-8 col-sm-4")=item.hostname
          a(id='commentlink' class="col-xs-3 col-sm-2" onclick='comments_click(' + index + ')'
            style='padding-left: 0px;'
          ) comments
          div.row(id='commentPopupModal'+index class='modal')
            div.modal-content.container
              div.row
                h3(style="float: left; margin: 0px;") comments
                span(id="modalCloseSpan" class="close" onclick='comments_modalclose_click(' + index + ')') x
              div.row
                label(id="modalCommentLabel" class='col-xs-10')=item.comments
          a(class="col-xs-1 col-sm-1" href=item.website style='padding-left: 0px;') link
          label(class="col-xs-8 col-sm-1")=item.date
          div.job-btn-grp(class="col-xs-offset-1 col-sm-2")
            form(action="/remove?prospect="+index method="POST")
              input(
                type='submit'
                class="btn btn-danger rmv"
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )
