extends layout


block content
  include modal.pug
  div.container#header(style='margin-bottom:10px;')
    div.row
      h1(class='col-xs-8 col-sm-6' style='margin-top:0px;')='hello '+user.local.username
      form(method='GET')
        input(
          class='btn btn-danger col-xs-offset-1 col-sm-offset-4 col-md-offset-5 col-xs-3 col-sm-2 col-md-1'
          value='logout'
          type='submit'
          formaction='/logout'
        )
  hr
  div.container
    div.row
      h3(class='col-xs-4 col-sm-4 col-md-4' style='margin-top:2px;') jobs applied:
      button(
        class='btn btn-default col-xs-offset-4 col-xs-4 col-sm-4 col-md-4'
        id="addJobBtn"
        onclick="addjob_click()"
      ) add a job
      div.row(id='popupModal' class='modal')
        div.modal-content.container
          div.row
            h3(style="float: left; margin: 0px;") add job
            span(class="close" onclick="modalclose_click()") x
          div.row(id='messageAlert' class='alert alert-danger' style="display: none; font: 13px arial, sans-serif;")
            label.col-xs-12 job already exists.
          div.container
            div.row
              label.col-xs-4.col-sm-2 job link:
              input(
                id="linkTextField"
                type="plaintext"
                placeholder="link"
                class="col-xs-8 col-sm-7"
              )
            div.row
              label.col-xs-4.col-sm-2 comments:
              input(
                id="jobCommentField"
                type="plaintext"
                placeholder="comments or identifiers"
                class="col-xs-8 col-sm-7"
              )
            div.row
              button(
                id="submitJobBtn"
                class="btn btn-success col-xs-offset-4 col-xs-3 col-sm-2"
                onclick="addJob()"
              ) submit

    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.jobs
        div.row(class="job-box")
          label(class="col-xs-1" type="text" name="index")=(index+1)
          label(class="col-xs-5")=item.hostname
          a(href="#" class="col-xs-2" data-toggle="tooltip" data-placement="right" title=item.comments) comments
          a(class="col-xs-1" href=item.website) link
          label(class="col-xs-1")=item.date
          form(action="/remove?index="+index method="POST")
            input(
              type='submit'
              class="btn btn-danger rmv col-xs-offset-1 col-xs-1"
              aria-hidden="true"
              value="remove"
            )
