extends layout

block content
  script(async, src="/scripts/user.min.js")
  include navigationbar.pug
  div.box-cont.container-fluid.show#home
    div.txt-white.alert(style='margin-top: 0.5rem; border: solid 1px #FFFFFF; background-color: #6F8695;')
      h3=("Prospective jobs: " + (prospectivesum))
    div.alert(style="border: solid 1px #FFFFFF")
      h3.txt-white=("Total applied: " + (appliedsum + interviewingsum + rejectedsum))
      div.alert(style="border: solid 1px #FFFFFF; background-color: #360;")
        h3.txt-white=("Applied jobs: " + (appliedsum))
      div.alert(style="border: solid 1px #FFFFFF; background-color: #F4AC32;")
        h3.txt-white=("Jobs interviewing: " + (interviewingsum))
        h5.txt-white=("Total interviews: " + (totalinterviews))
      div.alert(style="border: solid 1px #FFFFFF; background-color: #8D0801;")
        h3.txt-white=("Rejected jobs: " + (rejectedsum))
        
