extends layout


block content
  include userscripts.pug
  include navigationbar.pug
  div.box-cont.container-fluid.show#home
    div.alert.alert-secondary(style='margin-top: 0.5rem;')
      h3=("Prospective jobs: " + (prospectivesum))
    div.alert(style="border: solid 1px #000000")
      h3=("Total applied: " + (appliedsum + interviewingsum + rejectedsum))
      div.alert.alert-primary
        h3=("Applied jobs: " + (appliedsum))
      div.alert.alert-success
        h3=("Jobs interviewing: " + (interviewingsum))
        h5=("Total interviews: " + (totalinterviews))
      div.alert.alert-danger
        h3=("Rejected jobs: " + (rejectedsum))
        
