extends layout


block content
  include userscripts.pug
  div.container-fluid#header(style='margin-bottom:10px;')
    div.row
      h1(class='col-9' style='margin-top:0px;')='hello '+user.local.username
      form.col-3(method='GET')
        input(
          class='btn btn-danger'
          value='logout'
          type='submit'
          formaction='/logout'
          style='margin-top: 1%; float: right;'
        )
  hr

  div.box-cont.container-fluid#jobsapplied
    div.row
      h3(class='col-xs-12 col-sm-6 col-md-4' style='margin-top:2px;')=("jobs applied: " + appliedsum)   
      button(
        class='btn btn-default col-xs-6 offset-sm-2 col-sm-4 offset-md-4'
        id="addJobBtn"
        onclick="addjob_click()"
      ) add a job
    div.row.hide#addjobarea
      div.container-fluid
        div.row(id='messageAlert' class='alert alert-danger' style="display: none; font: 13px arial, sans-serif;")
          label.col-xs-12 job already exists.
        div.row.justify-content-center
          input.form-control(
            id="companyTextField"
            type="plaintext"
            placeholder="company"
            class="col-xs-12 col-sm-7"
          )
        div.row.justify-content-center
          input.form-control(
            id="linkTextField"
            type="plaintext"
            placeholder="link"
            class="col-xs-12 col-sm-7"
          )
        div.row.justify-content-center
          input.form-control(
            id="jobCommentField"
            type="plaintext"
            placeholder="comments or identifiers"
            class="col-xs-12 col-sm-7"
          )
        div.row.justify-content-center
          button.submit-btn(
            id="submitJobBtn"
            class="btn btn-success col-12 col-sm-2"
            onclick="addJob()"
          ) submit
    
    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.jobs
        div.row(class="job-box")
          h4(class="col-2 col-sm-1 col-md-1" type="text" name="index")=(index+1)
          label(class="col-2 col-sm-2 col-md-1")=item.date
          label(class="col-8 col-sm-9 col-md-4")
            if item.company == undefined
              a.btn(href=item.website)=item.hostname
            else
              a.btn(href=item.website)=item.company
          label.col-3.col-sm-3.col-md-2
            a.btn(id='interviewslink' onclick='') interviews
          label(class='col-3 col-sm-3 col-md-1')
            a.btn(id='commentlink' onclick='comments_click(' + index + ')') comments
          div.d-flex.p-2.col-6.col-sm-6.col-md-3.justify-content-end
            form(action="/move?reject="+index method="POST")
              button(
                type='submit'
                class="btn btn-success reject"
                aria-hidden="true"
                style="float: left; padding-left: 5px; padding-right: 5px;"
              ) rejected
            form(action="/remove?index="+index method="POST")
              input(
                type='submit'
                class="btn btn-danger rmv"
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )
          div.comment-area.hide(id='comment'+index style='padding: 0!important;')
            h8=item.comments
              
            
        
  div.box-cont.container-fluid#prospective
    div.row
      h3(class='col-xs-12 col-sm-6 col-md-6' style='margin-top:2px;')=("prospective jobs: " + prospectivesum)
      button(
        class='btn btn-default col-xs-6 offset-sm-2 col-sm-4 offset-md-2 col-md-4'
        id="addJobBtn"
        onclick="addprospect_click()"
      ) add a prospect
      
    div.row.hide#addprospectarea
      div.container
        div.row(id='messageAlert' class='alert alert-danger' style="display: none; font: 13px arial, sans-serif;")
          label.col-xs-12 job already exists.
        div.row.justify-content-center
          input.form-control(
            id="pcompanyTextField"
            type="plaintext"
            placeholder="company"
            class="col-xs-12 col-sm-7"
          )
        div.row.justify-content-center      
          input.form-control(
            id="plinkTextField"
            type="plaintext"
            placeholder="link"
            class="col-xs-12 col-sm-7"
          )
        div.row.justify-content-center
          input.form-control(
            id="pjobCommentField"
            type="plaintext"
            placeholder="comments or identifiers"
            class="col-xs-12 col-sm-7"
          )
        div.row.justify-content-center
          button.submit-btn(
            id="psubmitJobBtn"
            class="btn btn-success col-12 col-sm-2"
            onclick="addJob()"
          ) submit
  
    if user.jobs == undefined
      label error retrieving jobs
    else
      each item, index in user.prospectjobs
        div.row(class="job-box")
          h4(class="col-2 col-sm-1 col-md-1" type="text" name="index")=(index+1)
          label(class="col-2 col-sm-2 col-md-1")=item.date
          label(class="col-8 col-sm-9 col-md-4")
            if item.company == undefined
              a.btn(href=item.website)=item.hostname
            else
              a.btn(href=item.website)=item.company
          label.col-3.col-sm-3.col-md-2
            a.btn interviews
          label(class='col-3 col-sm-3 col-md-1')
            a.btn(id='commentlink' onclick='prospectcomments_click(' + index + ')') comments
          div.d-flex.p-2.col-6.col-sm-6.col-md-3.justify-content-end
            form(action="/move?prospect="+index method="POST")
              button(
                type='submit'
                class="btn btn-success move"
                aria-hidden="true"
                style="float: left; padding-left: 5px; padding-right: 5px;"
              ) applied
            form(action="/remove?prospect="+index method="POST")
              input(
                type='submit'
                class="btn btn-danger rmv"
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )
          div.comment-area.hide(id='prospectcomment'+index style='padding: 0!important;')
            h8=item.comments

  div.box-cont.container-fluid#reject-box
    div.row
      h3(class='col-xs-12 col-sm-6 col-md-6' style='margin-top:2px;')=("rejected jobs: " + rejectedsum)
    if user.rejectjobs == undefined
      label error retrieving jobs
    else
      each item, index in user.rejectjobs
        div.row(class="job-box reject-box")
          h4(class="col-2 col-sm-1 col-md-1" type="text" name="index")=(index+1)
          label(class="col-2 col-sm-2 col-md-1")=item.date
          label(class="col-8 col-sm-9 col-md-4")
            if item.company == undefined
              a.btn(href=item.website)=item.hostname
            else
              a.btn(href=item.website)=item.company
          label.col-3.col-sm-3.col-md-2
            a.btn interviews
          label(class='col-3 col-sm-3 col-md-1')
            a.btn(id='commentlink' onclick='rejectcomments_click(' + index + ')') comments
          div.d-flex.p-2.col-6.col-sm-6.col-md-3.justify-content-end
            form(action="/remove?reject="+index method="POST")
              input(
                type='submit'
                class="btn btn-danger rmv"
                aria-hidden="true"
                value="remove"
                style="float: right; padding-left: 5px; padding-right: 5px;"
              )
          div.comment-area.hide(id='rejectcomment'+index style='padding: 0!important;')
            h8=item.comments
